*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.container{
width: 1220px;
margin: 0 auto;

}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
  display: flex;
  list-style: nome;
  gap: 60px;
}
.btn{
    background-color: #f35f2f;
    border: nome;
    padding: 12px24px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500px;
    border-radius: 5px;
    opacity: 0.85px;
}